.container {
  display: block;
  padding: 20px 10px;
  border-bottom: 1px solid var(--color-border);
}

.container > a {
  text-decoration: none;
  color: black;
}

.inner {
  display: flex;
  gap: 15px;
}

.inner img {
  width: 80px;
}

.title {
  font-weight: bold;
}

.subtitle {
  word-break: keep-all;
}

.author {
  color: gray;
}

.category {
}
