.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container textarea {
  width: 100%;
  resize: vertical;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.container input {
  padding: 10px;
}

.submit_row {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
